<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
  />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class='container'>
        <a href="#" class="navbar-brand">
        <img src="/assets/memelogo.png" width="40" height="40" alt="" class='mx-2'>
        Meme Generator</a>
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navmenu'>
        <span class='navbar-toggler-icon'></span></button>
        <div class='collapse navbar-collapse' id='navmenu'>
          <ul class="navbar-nav ms-auto">
            <li class='nav-item'>
              <a href='/logout' class='nav-link mx-2'>Logout</a></li>
              </ul>
        </div>
      </container>
    </nav>

    <section class='bg-primary bg-gradient w-100 min-vh-100'>

    <div class='container p-5'>
    <form action="/todos/createTodo" method="POST" class='d-flex flex-column align-items-center'>
      <input type="text" id="top-text-input" placeholder="Top Caption" name="topCaption" class='w-25' value=''/>
      <input type="text" id="bottom-text-input" placeholder="Bottom Caption" class='mt-1 w-25' name="bottomCaption" value=''/>
      <input type="file" id="image-file" name="imageUrl"  class='mt-1 form-control w-25' accept="image/*" />
      <input type="hidden" id="base64" name="base64" />
      <li class="todoItem d-flex flex-row">
        <span id='top-text-preview' class="caption top"></span>
        <img id='preview-img' class='meme-img mt-3' />
        <span id='bottom-text-preview' class="caption bottom"></span>
      </li>
      <input type="submit"  class='btn-lg btn-dark mt-3'/>
    </form>
  </div>


    <div class='container p-3 d-flex flex-column justify-content-center align-items-center'>
      <h2 class='pb-4'>Your Memes</h2>
    <ul class="todo-container">
      <% todos.forEach( el => { %>
      <li class="todoItem" data-id="<%=el._id%>">
        <span class="caption top"><%= el.topCaption %></span>
        <img class='meme-img' src="<%= el.imageURL %>" />
        <span class="caption bottom"><%= el.bottomCaption %></span>
      </li>
      <% }) %>
    </ul>
  </div>
  </section>

    <script src="js/main.js"></script>
  </body>
</html>
