h1 {
  color: red;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.not {
  text-decoration: underline;
}

#preview-img {
  max-height: 200px;
  max-width: 30%;
}

.todoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30%;
  font-size: 2rem;
}

.todoItem img {
  max-height: 200px;
  max-width: 30%;
}
