* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.meme-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.memeItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30%;
  font-size: 2rem;
  position: relative;
  height: 300px;
  width: 250px;
  white-space: nowrap;
  color: white;
  font-weight: 600;
}

.caption {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.caption.top {
  top: 10px;
}

.caption.bottom {
  bottom: 10px;
}

.meme-img {
  height: 100%;
  border-radius: 10px;
}
